.open {
  transform: translate(0, 0) !important;
}

.header {
  @media (max-width: 1024px) {
    position: absolute;
    height: 100vh;
    overflow: scroll;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
  @media (min-width: 1024px) {
    width: 98%;
  }
}

.language-selector-wrapper {
  position: absolute;
  @apply flex items-center pl-2;
  @media (min-width: 1024px) {
    right: -30px;
  }
  @media (min-width: 1280px) {
    right: -5px;
  }
}

.nav-item {
  @apply inline-block text-center w-full lg:w-[125px] my-5 lg:my-0;

  a {
    @apply transform transition-all duration-200 ease-linear text-3xl lg:text-base;
    &:hover {
      @apply font-semibold scale-110;
    }
  }

  @media (min-width: 1440px) {
    width: 150px;
  }
}

.header-buttons {
  a {
    @apply transform transition-transform duration-200 ease-linear;
    &:hover {
      @apply scale-110;
    }
  }
}

.hamburger {
  top: 0;
  right: 0;
  margin: 1rem;
  //display: inline-block;
  //padding: 15px 15px 15px 15px;

  cursor: pointer;

  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  }

  span:first-child {
    transform-origin: 0% 0%;
  }

  span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-10px, -10px);
    background: #eeeeee;
  }

  input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
}
